.topo{
display:flex;
align-items:center;
gap:18px;
padding:20px;
}

.logo{
width:90px;
height:90px;
border-radius:20px;
box-shadow:0 0 20px rgba(0,0,0,.35);
}

.topo h1{
margin:0;
font-size:30px;
color:#FBBF24;
}

.topo p{
margin-top:5px;
color:#94A3B8;
font-size:14px;
letter-spacing:2px;
}
